<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>contribution</title>
</head>
<body>
<form action="/contribute/" method="POST">{% csrf_token %}
	<table>
	<tbody>
		<tr>
			<th>
				<label for="id_title">title:</label>
			</th>
			<td>
				<input id="id_title" type="text" name="title">
			</td>
		</tr>
		<tr>
			<th>
				<label for="id_body">body:</label>
			</th>
			<td>
				<textarea id="id_body" cols="20" rows="4" name="body"></textarea>
			</td>
		</tr>
	</tbody>
	</table>
	<input type="submit">
</form>
</body>
</html>
