<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>facebook</title>
</head>
<body>
	<a href="/user/{{ myuser.id }}">{{ myuser.username }}</a>でログイン中です<br>
	<a href="{% url 'socialauth_begin' 'facebook' %}">facebookでログイン</a>
	<br><a href="/contribute">投稿する</a><br>
	{{ user.username }}の投稿一覧

	<table>
		<tr style="background-color:#00f;">
			<th>title</th>
			<td>body</td>
		</tr>
		{% for x in contribution %}
		<tr>
				<th>{{ x.title }}</th><td>{{ x.body }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
